* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: orange;
    color: green;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background-color: rgb(255, 240, 197);
}